.navbar{
    background-color: #0025FF !important;
}
a{
    color: #fff !important;
    font-size: 13px !important;
}

.navBTN{
    border: 1px solid #fff !important;
    border-radius: 30px !important;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 15px !important;
    width: 190px !important;
}

.navBTN:hover{
    background-color: #fff !important;
    color: #0025FF !important;
    cursor: pointer !important;


}
.carousel-item>img{
    height: 700px !important;
}